* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-family: "Poppins", sans-serif;
}

.react-datepicker-wrapper {
  width: 100%;
}
// .Toastify__toast--success {
//   background-color: var(--primary-dark) !important;
//   color: #eee;
// }
